.page.theme_light {
  --background-color: var(--light-background);
  --button-color: var(--light-text-color);
  --button-hover-color: var(--light-opacity-main-color);
  --toggle-color:transparent;
  --toggle-color-shadow: transparent;
  --general-content-color: var(--light-main-color);
  --title-color: var(--light-title-color);
  --corner-color:var(--light-text-color);
  --section-title:var(--light-text-color);
  --color-subtitle:var(--light-text-color);
  --section-text-color:var(--light-text-color);
  --background-image:url(../images/cover-image-light.png);
  --background-color: var(--light-main-background); 
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--light-background);
  --button-color: var(--light-text-color);
  --button-hover-color: var(--light-opacity-main-color);
  --toggle-color:transparent;
  --toggle-color-shadow: transparent;
  --general-content-color: var(--light-main-color);
  --title-color: var(--light-title-color);
  --corner-color:var(--light-text-color);
  --section-title:var(--light-text-color);
  --color-subtitle:var(--light-text-color);
  --section-text-color:var(--light-text-color);
  --background-image:url(../images/cover-image-light.png);
  --background-color: var(--light-main-background);
    }
} 