/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
--text-color: #F1B2CE;
--general-content-color:#FF0070;
--title-color: #DB00FF;
--focus-color: #000028;

--general-size: 18px;
--title-size:116px;

}